.avatar-container {
    width: 125px;
    height: 125px;
    position: relative;
}

.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
