.avatar-container {
    width: 125px;
    height: 125px;
    position: relative;
}

.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.heatmap-container {
    margin-top: 15px;
    padding: 0 15px;
    height: auto;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

@media (max-width: 768px) {
    .avatar-container {
        width: 100px;
        height: 100px;
    }

    .heatmap-container {
        height: 150px;
    }
}