* {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 80%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}