.card {
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    items-align: center;
    text-align: left !important;
}

.card:hover {
    opacity: 0.8;
}

.image {
    background-color: #2e2e2e;  
    width: 100%;
}

.image-section {
    display: flex;
    justify-content: center;
    width: 120%;
}